$whiteFont : #fff;
$eeBackground: #EEE;
$blueBackground: #607D8B;
.heroListing{
	li{
		list-style:none;
		cursor:pointer;
		background:{
		color:$eeBackground;
		}		
		border-radius:4px;
		width:30%;
		height:35px;
	}
	.herolist-id{
		display:inline-block;		
		color:$whiteFont;
		background:{
			color:$blueBackground;
		}
		position:relative;		
		border-radius:4px 0 0 4px;
		height:35px;
		width:10%;
	}
	.herolist-remove{
		float:right;	
	}
	.delete-button{

	}
}