$grayText : #eee;
$blueBackground: #607D8B;
.topHeros-title{
	text-align:center;
}
.heroContainer{	
	color:$grayText;
	position:relative;
	margin:0 auto;
	min-width:60px;
	height:100%;
	display:inline-block;	
}
.innerDiv {  
      width: 100px;
      height: 100px;
      vertical-align: middle;
      display: inline-block;
      *display: inline;
      margin:10px;
      zoom: 1;    
      color:#fff;
      text-align:center;
      line-height:100px;
      background-color:$blueBackground;
      cursor:pointer;
      }

