
<div ng-include src="'views/header.html'"></div>
   <div class="topHeros">
     <div class="row">    
      <div class="col-md-12"> <span class="topHeros-title"> Top Heros</span></div>      
     </div>
   <div class="row" >
     <div class="heroContainer" ng-repeat="hero in topHeros | limitTo:4">
        <div class="innerDiv" ng-click="viewDetails(hero)">
          <span> {{hero.name}}</span>
        </div>
     </div>
   </div>
   <div class="hero-search"></div>

   </div>




