<div>
	  <h1> Tour of heros </h1>
  <div class="" ng-controller="headerController">
    <button class="btn default" ng-click="loadUrl('default')">Dashboard</button>
    <button class="btn default"  ng-click="loadUrl('heros')">Heros</button>
   </div>
</div>