<div ng-include src="'views/header.html'"></div>
<div class="row">
<h2>{{heroDetail.name}}</h2>
</div>
<div class="row">
	<p>id : {{heroDetail.id}}</p> 
	<p> name : <input type="text" name="heroName" id="HeroId" ng-model="heroDetail.name"></p>
	<button class="btn btn-default" ng-click="moveBack()"><a href="#/heros">Back</a></button>
	<button class="btn btn-default" ng-click="save()">Save</button>
</div>
</div>
