<div ng-include src="'views/header.html'"></div>

<div >
	<h3> My Heros</h3>
</div>
<div class="row">
	<span> Hero Name:</span><input name="heroName" id="HeroName" ng-Model="heroName"/>
	<button class="btn btn-default" ng-click="addHero()">Add</button></div>
	<ul class="heroListing" ng-repeat="hero in heroList">
	<li >
	<span class="herolist-id" ng-click="selectAHero(hero)">{{hero.id}}</span>
	<span class="herolist-name" ng-click="selectAHero(hero)">{{hero.name}}</span>
	<span class="herolist-remove"> <button class="btn btn-default glyphicon glyphicon-remove" ng-click="removeHero(hero)"> </button></span>
	</li>		
	</ul>

</div>
<div class="row" ng-if="selectedHero !== null">
		<h2>{{selectedHero.name}} is my Fav hero!</h2>
		<button class="btn btn-default" ng-click="viewDetail()">View details</button>	
</div> 